@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
   
    ;
}
a{
    text-decoration : none;
}

nav{
    
    display: flex;
   justify-content: space-between;
   padding: 20px;
}
    

nav h2{
  color: #7562E0;

}


.menu-link{
    margin: 10px;
}

.header-presentation{
    display: flex;
    justify-content: space-around;
   
}
.presentation-left {
  padding: 20px;
}
.presentation-right{
    width: 30%;
}

.presentation-right img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
}
.btn {
    width: 50%;
    height: 50px;
    cursor: pointer;
    text-decoration: none ;
    border : 3px solid #7562E0;
    color: black;
    background-color: white;
}

main{
    margin: 30px;
    padding: 30px;
    justify-content: center;
}
.year{
   font-size: 100px;
   color: #7562E0;
   }

.pi p{
       font-size: 15px;
   }


.pi{
       
       display: flex;
       justify-content: space-around;

}  


.pd{
    display: flex;
  
}
.image{
    width: 100%;
    justify-content: center;

}
.flex{
display: inline;

}

.container-experience{
 
    width: 25%;
}


.products{
    width: 75%;

}
.icone{
    color: #7562E0;
    font-size: 25px;
}

.pd-content{
    height: 250px;
    box-shadow: 0px 0px 12px -5px rgb(0 0 0 / 18%);
    width: 31%;

    margin-left: 1rem;
    border-radius: 25px;
    color: #7562E0;
}
.divs{
    margin-top: 150px;
    margin-left: 30px;
    
}

.divs i{
    font-size: 30px;
    margin-bottom: 15px;
}

.title{
    color: #7562E0;
}
.img-container{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.img-container div{
    width: 30%;
    height: 300px;
    overflow: hidden;
}

.img-container div img{

    width: 100%;
    object-fit: cover;
}

.text{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
}

.text h2{
    color: #7562E0;
    font-size: 30px;
}
.explore{
    color: #7562E0;
}